* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container {
	background-color: yellow;
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-start;
	/* align-items: center; */
	/* flex-wrap: nowrap; */
	/* align-content: flex-end; */
	/* column-gap: 10px; */
}

.box {
	width: 200px;
	height: 200px;
	background-color: red;
	border: 5px solid black;
	font-size: 50px;
}

.box-1 {
	/* flex: 1; */
}

.box-2 {
	/* flex: 1; */
}

.box-3 {
	/* flex: 3; */
}
