* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 50vw;
	height: 50vh;
	margin: 0 auto;
	background-color: yellow;
	position: relative;
	border: 2px solid black;
}

.container-2 {
	width: 50vw;
	height: 50vh;
	margin: 0 auto;
	background-color: gainsboro;
	border: 2px solid black;
	position: relative;
}

.box {
	width: 100px;
	height: 100px;
	background-color: red;
	font-size: 60px;
}

.box-5 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.box-2 {
	position: absolute;
	top: 0;
	right: 0;
}

.box-3 {
	position: absolute;
	bottom: 0;
	right: 0;
}

.box-4 {
	position: absolute;
	bottom: 0;
	left: 0;
}

.box-6 {
	position: absolute;
	left: 400px;
	top: 80px;
}

.box-7 {
	position: absolute;
	top: 300px;
}
